.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;

  &__title {
    letter-spacing: -0.03em;
    line-height: 32px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
  }
}