.user-single-details {
  padding-top: 30px;
  padding-bottom: 35px;

  &__label {
    font-weight: 700;
    font-size: 21px;
    padding-bottom: 10px;
  }

  &__input {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 8px;
  }
}